<% content_for :title do %>My super sweet dashboard<% end %>
<div class="gridster">
  <ul>
     <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
         <div data-id="github_user_repos_watchers" data-view="List" data-unordered="true" data-title="Github Shopify Repos" style="background-color: #4183C5" data-moreinfo="# of watchers"></div>
    </li>
    
     <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="github_userinfo_followers" data-view="Number" data-title="GH DaveFp Followers" style="background-color: #4183C5"></div>
    </li>
    
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="bubblegithub" data-view="Bubblegraph" data-title="Dashing contributor stats" style="background-color:#96bf48"></div>
    </li>

  </ul>
</div>
